html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.board {
  /* we're gonna use CSS Grid! */
  display: grid;
  /* 1vw =  */
  grid-template-columns: repeat(3, 15vh);
  grid-template-rows: repeat(3, 15vh);
  /* do the same for rows */
}
